.HotAccessoriesMenu {
  display: flex;
  justify-content: center;
}

.HotAccessoriesLink {
  margin: 1vmax;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(94, 94, 94);
  text-decoration: none;
  padding: 0.5vmax 0;
}

.HotAccessoriesLink:hover {
  text-decoration: none;
  color: orangered;
  border-bottom: 1px solid orangered;
}
